pipeline/pl_bronze_to_sql_parquet.json
{
	"name": "pl_system_to_bronze_sql",
	"properties": {
		"activities": [
			{
				"name": "leitura_cidades",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cunhadbc_ds_bronze_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze/cunhadbc/cidades",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "forEach_cidade",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "leitura_cidades",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('leitura_cidades').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "insert_cidade",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table pratica.cunhadbc_cidade",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze/cunhadbc/cidades",
										"filename": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "pratica",
										"table": "cunhadbc_cidade"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "proc_cidade",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "forEach_cidade",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_remove_cidades_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "lk_dbsql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "leitura_cor",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cunhadbc_ds_bronze_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze/cunhadbc/cor",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "forEach_cor",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "leitura_cor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('leitura_cor').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table pratica.cunhadbc_cor",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze/cunhadbc/cor",
										"filename": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "pratica",
										"table": "cunhadbc_cor"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "proc_cor",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "forEach_cor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_remove_cores_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "lk_dbsql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "leitura_moviesDB",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "cunhadbc_ds_bronze_parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze/cunhadbc/moviesDB",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "forEach_moviesDB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "leitura_moviesDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('leitura_moviesDB').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table pratica.cunhadbc_moviesDB",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze/cunhadbc/moviesDB",
										"filename": {
											"value": "@replace(item().name, '.parquet', '')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "cunhadbc_ds_bronze_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "pratica",
										"table": "cunhadbc_moviesDB"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "cunhadbc - pl/pl - pratica 2"
		},
		"annotations": []
	}
}