pipeline/pl_pratica3.json
{
	"name": "pl_pratica3",
	"properties": {
		"activities": [
			{
				"name": "retorna tabela",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\nAND TABLE_SCHEMA = 'pratica'\nAND TABLE_NAME LIKE 'bia%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_dbsql_bia",
						"type": "DatasetReference",
						"parameters": {
							"schema": "*",
							"table": "*"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "retorna tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('retorna tabela').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "biamarostica"
		},
		"annotations": []
	}
}