pipeline/pl_pratica02.json
{
	"name": "pl_pratica02",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Cor",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze/cor",
							"Filename": "cor.parquet"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata Cidades",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach Cor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze/cidades",
							"Filename": "*"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata1 moviesDB",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Metadata Cidades",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze/moviesDB",
							"Filename": "*"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach Cor",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Cor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data Cor",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_bronze",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze/cor",
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Pratica"
		},
		"annotations": []
	}
}