pipeline/pl_system_to_bronze.json
{
	"name": "pl_system_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Leitura Arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_system_csvfiles",
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles",
							"filename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Remover",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Leitura Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Leitura Arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'out123.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"annotations": []
	}
}