pipeline/pl_system_to_bronze_csv.json
{
	"name": "pl_system_to_bronze_csv",
	"properties": {
		"activities": [
			{
     bianca-pratica
				"name": "Ler arquivos",

				"name": "Leitura Arquivos",
      main
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
         bianca-pratica
						"referenceName": "ds_system_csv",

						"referenceName": "ds_system_csvfiles",
           main
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles",
							"filename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
         bianca-pratica

						"recursive": true,
         main
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
       bianca-pratica
				"name": "Remove arquivo",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Ler arquivos",

				"name": "Remover",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Leitura Arquivos",
          main
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
 bianca-pratica
						"value": "@activity('Ler arquivos').output.childItems",

						"value": "@activity('Leitura Arquivos').output.childItems",
 main
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'out123.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
 bianca-pratica
						"activity": "Remove arquivo",

						"activity": "Remover",
 main
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
 bianca-pratica
						"value": "@activity('Remove arquivo').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copia arquivos",

						"value": "@activity('Remover').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copia Arquivos",
 main
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
 bianca-pratica
									"referenceName": "ds_system_csv",

									"referenceName": "ds_system_csvfiles",
 main
									"type": "DatasetReference",
									"parameters": {
										"container": "sistema/csvfiles",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze",
									"type": "DatasetReference",
									"parameters": {
										"container": {
 bianca-pratica
											"value": "@concat('bronze/biamarostica/', replace(item().name, '.csv', ''))",
											"type": "Expression"
										},
										"filename": {
											"value": "@replace(item().name, '.csv', '.parquet')",

											"value": "@concat('bronze/',replace(item().name,'.csv',''))",
											"type": "Expression"
										},
										"filename": {
											"value": "@replace(item().name,'.csv','.parquet')",
 main
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
 bianca-pratica
			"name": "biamarostica - PL/prática1"

			"name": "Pratica 1 - PL"
 main
		},
		"annotations": []
	}
}