pipeline/pl_sistema_para_bronze.json
{
	"name": "pl_sistema_para_bronze",
	"properties": {
		"activities": [
			{
				"name": "Leitura de arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sistema_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles",
							"filename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Remover arquivos",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Leitura de arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Leitura de arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not( \n    or(equals(item().name, 'out123.csv'),\n    equals(item().name, 'moviesDB.csv')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mover para lake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Remover arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Remover arquivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copira arquivos",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sistema_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "sistema/csvfiles",
										"filename": {
											"value": "@replace(item().name, '.csv', 'parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sistema_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@concat('bronze/', replace(item().name, '.csv' , ''))",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}