pipeline/pl_system_to_bronze_csv.json
{
	"name": "pl_system_to_bronze_csv",
	"properties": {
		"activities": [
			{
				"name": "leitura_arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles/",
							"filename": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "remove_cidades",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "leitura_arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('leitura_arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'cidades.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "criar_arquivo_parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "remove_cidades",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('remove_cidades').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copia_arquivo_bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_bronze_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "sistema/csvfiles/",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bronze_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@concat('bronze/cunhadbc/',replace(item().name, '.csv', ''))",
											"type": "Expression"
										},
										"filename": {
											"value": "@replace(item().name, '.csv', '')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "leitura_arquivos_copy1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_bronze_csv_cidade",
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles/",
							"filename": "cidades.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "cunhadbc - pl/pl - pratica1"
		},
		"annotations": []
	}
}