pipeline/pl_system_to_csv_willalvares.json
{
	"name": "pl_system_to_csv_willalvares",
	"properties": {
		"activities": [
			{
				"name": "remove arquivo",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ler arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ler arquivos').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, 'out123.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ler arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_willalvares",
						"type": "DatasetReference",
						"parameters": {
							"container": "sistema/csvfiles",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "willalvares"
		},
		"annotations": []
	}
}